*.bak 
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
pip-log.txt 
pip-delete-this-directory.txt 
*.png
*.jpg
