{% load static %}
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5d col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>
                                <a href="{% url 'mainpage' %}" class="light-logo">
                                    <img src="{% static 'extra-images/main-logo.png' %}" alt="FoodBakery">
                                </a>
                            </figure>
                        </div>
                        
                        <div class="main-location">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location" id="location" placeholder="Enter your current location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick="getLocation()" ><i class="icon-target5"></i></span>
                                    </form>
                                    
                                </li>
                            </ul>
                            </div>
                    </div>
                    <div class="col-lg-7 col-md-7x col-sm-12 col-xs-12">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                                <a href="{% url 'cart' %}">
                                    <i class="fa fa-shopping-cart text-danger" style='font-size: 17px;' ></i>
                                    <span class="badge badge-danger" id="cart-counter" style="border-radius:50px; position: relative; bottom:10px; left:-5px">{{cart_count}} </span>
                                </a>
                            {% endif %}
                            <a href="{% url 'marketplace' %}"  class="btn btn-outline-danger text-uppercase font-weight-bold " >MarketPlace</a>
                            {% if user.is_authenticated   %}
                                <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myaccount' %}">My Account </a>
                                <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">Logout </a>
                            {% else %}
                               <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login / </a>
                                <span><a href="{% url 'registeruser' %}" class="cs-color cs-popup-joinus-btn login-popup " >Register</a> </span> <a class="get-start-btn" href="{% url 'registervendor' %}">
                                Register
                                Restaurant </a>

                            {% endif %}
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        var x = document.getElementById("location");
        var current_location = sessionStorage.getItem("current_location");
        if(current_location != ""){
            x.value = current_location;
        }
        function getLocation() {
            fetch('https://api.geoapify.com/v1/ipinfo?apiKey=3e282e3ccac9457f840beaad8053da7c')
            .then(response => response.json())
            .then(data => {
                var lat = data.location.latitude
                var lon = data.location.longitude
                url = "https://api.geoapify.com/v1/geocode/reverse?lat="+lat+"&lon="+lon+"&format=json&apiKey=3e282e3ccac9457f840beaad8053da7c"
                $.ajax({
                    url : url,
                    type : "GET",
                    success:function(response){
                        var address_line1 = response.results[0].address_line1
                        var address_line2 = response.results[0].address_line2
                        var current_location = address_line1 + address_line2
                        x.value = current_location
                        sessionStorage.setItem("current_location" , current_location)
                        window.location= "?lat="+lat+"&lng="+lon
                    }
                })
                
                
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
       
    
    </script>
</header>