{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block content %}
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
              
                <div class="col-lg8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"> <i class="fa fa-shopping-cart text-danger" ></i>Review your billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                            <div class="billing-address">
                                                <div><b>{{order.name}}</b></div>
                                                <div>{{order.address}}</div>
                                                <div>{{order.city}}  , {{order.state}}</div>
                                                <div>{{order.country}}</div>
                                                <div>Phone : <b>{{order.phone}}</b> </div>
                                                <div>Email : <b>{{order.email}}</b></div>
                                                <div>Payment : <b>{{order.payment_method}}</b></div>
                                                <br>
                                                <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger" >Edit</a></div>
                                                <br>

                                            </div>
                                    </div>
                                 
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
                {% comment %} order section {% endcomment %}
                
                <div class="col-lg4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div>
                                         <table class="table">
                                         <tbody>
                                           
                                            {% for item in cart_items %}
                                                <tr>
                                                        <td> <img src="{{item.fooditem.image.url}}" width='40' alt="food image"></td>
                                                        <td><b>{{item.fooditem}}</b></td>
                                                        <td>{{item.quantity}}</td>
                                                        <td>${{item.fooditem.price}}</td>
                                                </tr>
                                            {% endfor %}
                                         </tbody>
                                        </table>
                                        <ul>
                                            <li style="list-style-type: none;" >
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="subtotal">{{subtotal}}</span>
                                                </span>
                                            </li>
                                            {% comment  %}Get All tax in modeltax and return here  {% endcomment %}
                                            {% for key , value in tax_dict.items %}
                                                {% for i , j  in value.items %}
                                                    <li style="list-style-type: none;" >
                                                        {{key}} <small>({{i}}%)</small> 
                                                        <span class="price float-right">
                                                            <span class="currency">$</span>
                                                            <span id="tax-{{key}}">{{j}}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}
                                            <li style="list-style-type: none; font-weight:600;" >
                                                ToTal
                                                <span class="price float-right">
                                                    <span class="currency">$</span>
                                                    <span id="total">{{total}}</span>
                                                </span>
                                            </li>
                                            
                                            {% comment %} paypal checkout button {% endcomment %}
                                            {% if order.payment_method == "paypal" %}
                                            <div id="paypal-button-container"></div>
                                            {% elif order.payment_method == "pay" %}
                                            <li style="list-style-type: none; font-weight:600;" >
                                                Toman : 
                                                <span class="price float-right">
                                                    <span class="currency"></span>
                                                    <span id="total">{{toman}}</span>
                                                </span>
                                            </li>
                                            <button class="btn btn-info w-100 mt-1 mb-1" id="paybutton">pay with Pay </button>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% if order.payment_method == "paypal" %}
    <script>
        // take the csrftoken 
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        
        var total_price = {{total}};
        var url = '{% url 'payments' %}';
        var order_number = {{order.order_number}};
        const csrftoken = getCookie('csrftoken');
        var order_complate = "{% url 'order_complate' %}" 


        paypal.Buttons({

            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total_price // Set the amount here
                        }
                    }]
                });
            },

            onApprove:function(data , actions){
                return actions.order.capture().then(function(orderData) {
                    console.log(orderData);
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    var transaction_id = transaction.id;
                    var transaction_status = transaction.status; 
                    var payment_method = 'paypal';
                    SendTransaction(transaction_id , payment_method , transaction_status);
                    console.log('transaction-status : ' + transaction.status + ' transaction id : ' + transaction.id );

                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '' ;
                    element.innerHTML = '<h3 class="tex-center"><i class="fa fa-spinner fa-spin"></i>Please Wait !...</h3>' 

                });
            }

        }).render('#paypal-button-container');

        //send data to payment view to store in the database
        function SendTransaction(transaction_id , payment_method , transaction_status){
            $.ajax({
                type : 'POST' ,
                url : url ,
                data : {
                    "order_number" : order_number,
                    "transaction_id" : transaction_id,
                    "payment_method" : payment_method,
                    "status" : transaction_status ,
                    "csrfmiddlewaretoken" : csrftoken,
                },
                success :function(response){
                    console.log('response =>' , response)
                    window.location.href = order_complate + '?order_number='+response.order_number+'&transaction_id='+response.transaction_id ;
                }
            })
        }

    </script>

{% elif order.payment_method == "pay" %}

    <script>
        // take the csrftoken 
        function getCookie(name) {
        let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const paybutton = document.getElementById('paybutton');

        paybutton.addEventListener('click' , test);

        var total_price = {{total}} *50000 ;
        var url = '{% url 'payments' %}';
        const csrftoken = getCookie('csrftoken');
        var order_complate = "{% url 'order_complate' %}" 
        const domain = window.location.host;  
        let redirect_url = domain + '{% url 'verify_pay' %}' ;
        var factorNumber = "{{order.order_number}}";
        var mobile = "{{order.phone}}"
        let send_url = `https://pay.ir/pg/send?api=test&amount=${total_price}&redirect=${redirect_url}&factorNumber=${factorNumber}&mobile=${mobile}`;
        let buy_page = "https://pay.ir/pg/";
        let verify_url = "https://pay.ir/pg/verify?";
        function test(){
            console.log(send_url);
            fetch(send_url, { method: 'POST' })
                .then(response => {
                    console.log(response);
                    if (response.status === 200) {
                        return response.json();
                    }
                    throw new Error('Request failed');
                })
                .then(data => {
                    console.log(data);
                    if (data.status === 1) {
                        let token = data.token;
                        window.location.href = buy_page + token;
                    }
                })
                .catch(error => {
                    console.error(error);
                    // Handle error accordingly
                });
        }
        

    </script>


{% endif %}


{% endblock content %}